/* Header Formating */
header.masthead {
  /* padding-top: 75px;
  padding-bottom: 75px; */
  background: linear-gradient(rgba(255, 255, 255, 0.1) 75%, black), url("../../images/cities.jpg");
  background-size: cover;
}

/* Banner sizes */
#dimensions {
  height: 150px;
  width: 100%;
  margin-left: 1px;
}
/* ===== Banner format End =====

/* Displaying & Positioning of Logo within container */
.col-lg-10 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* background-image: url(/images/seeing-eye-text.png), */
    /* url(/images/seeing-eye.png); */
  /* background-size: 800px 450px; */
  /* background-repeat: no-repeat; */
  /* background-position: 80% 35%; */
  }
/* ===== Logo End =====

/* Search bar formatting */
#main-body {
  /* background-color: rgba(0, 0, 255, 0.5); */
  background: linear-gradient(black, rgb(128, 128, 128, 0.5),#222222); 

}

h4 {
  color: #003060;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn-primary {
  background-color: #6082B6 !important;
  border-color: #6082B6 !important;
}

.btn-primary:hover {
  background-color: #B0C4DE !important;
}
/* Card image and cards info */
.card {
    margin: auto;
    width: 200px;
    height: 300px;
}
.image-container {
  margin: auto;
  width: 150px;
  height: 150px;
}
.image-container img {
  width: 100%;
  height: 50%;
}

/* Side-bar Button positioning */
.container1 {
  position: absolute;
  top: 52%;
  left: 55%;
}

.container2 {
    position: absolute;
    top: 92%;
    left: 55%;
  }

#city-weather {
  background-color: #B0C4DE;
}

#weather {
  font-size: medium;
}

/* Footer parameters */
footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

footer p {
  font-size: 16px;
  margin: 0;
}
/* ===== Footer End =====


/*************** Media Queries ********************/
/* Setting Logo parameters for mobile Devices */
@media screen and (max-width: 768px) {
  body,
  header {
    flex-direction: column;
  }
}
